<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Кількість рівнянь</button>
      </span>
            <input type="text" id="equationLength" class="form-control">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Кількість змінних</button>
      </span>
            <input type="text" id="variableLength" class="form-control ">
        </div>
    </div>
</div>
<div class="row">
    <button id="toTwoStep" class="btn-lg">Далі</button>
</div>